# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Environments
.env.local
.env.*.local
db.sqlite3

# Editor / IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*~

# Logs
*.log
